<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="GenericIndexingConfiguration" type="MI4T.Common.Configuration.ConfigurationSectionHandler, MI4T.Common.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LoggingConfigPath" value="D:\Production Project\mi4t\MongoDBIntegration4Tridion\Configurations\Logging.config"/>
    <add key="IndexServiceConfig" value="/SearchIndexService"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647">
          <!--this is important-->
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MongoDBSearchService.MONGOSearchSvcBehavior" name="MongoDBSearchService.SearchSvc">
        <endpoint address="" behaviorConfiguration="RESTPost" binding="webHttpBinding" contract="MongoDBSearchService.IMongoDBSearchService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTPost">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MongoDBSearchService.MONGOSearchSvcBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <GenericIndexingConfiguration>
    <rootPath>D:\Production Project\mi4t\MongoDBIntegration4Tridion\Configurations</rootPath>
    <fileExtension>config</fileExtension>
  </GenericIndexingConfiguration>
</configuration>
